# Terraform files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# Local environment files
*.tfvars
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / Editor folders
.vscode/
.idea/
*.swp
*.swo

# Python / Node / other language files if used
__pycache__/
node_modules/

# Secrets (never commit!)
*.pem
*.key
*.crt
.env

# Ansible virtual environment
.ansible-env/

# Helm & Kubernetes sensitive files
ansible-monitoring-aks/values-grafana.yaml
ansible-monitoring-aks/values-prometheus.yaml
ansible-monitoring-aks/grafana-password-sync.yaml
ansible-monitoring-aks/deploy-monitoring.yml

# Kubernetes secrets
secrets/
*.secret.yaml

